@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #FBB600;
    --cor-secundaria: #FA1900; 
    --cor-terciaria: #FA7100;
    --cor-branco-suave: #ffebde;
    --cor-preto-suave: #121212;

    --cor-texto-principal: #ffebde;
    --cor-texto-secundaria: #d6c2b5;
    --cor-texto-focus: #FBB600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: var(--cor-preto-suave);
    color: var(--cor-texto-principal);
    position: relative;
}

/* HEADER */

header {
    background-color: #1a1a1a;
    display: flex; align-items: center; justify-content: space-between;
    padding: 15px 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    position: sticky;
    top: 0;
    z-index: 1;
}

#header-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Menu */

#menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu-icon {
    width: 22px;
    fill: currentColor;
    transform: translateY(3px);
}

#menu a {
    color: var(--cor-texto-secundaria);
}

#menu a:hover {
    color: var(--cor-principal);
}



/* Perfil */

#perfil-wrapper {
    position: relative;
}

#perfil {
    background-color: var(--cor-principal);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    overflow: hidden;
}

#perfil:hover {
    transform: scale(1.05);
    background-color: var(--cor-terciaria);
}

#perfil img {
    width: 45px;
}

#perfil-menu {
    position: absolute;
    top: 60px;
    right: 0;

    padding: 8px;
    background-color: #1a1a1a;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    width: 160px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.25s ease;
    z-index: 10;
}

#perfil-menu::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 15px;

    width: 12px;
    height: 12px;
    background-color: #1a1a1a;
    transform: rotate(45deg);

    border-left: 1px solid rgba(255, 255, 255, 0.08);
    border-top: 1px solid rgba(255, 255, 255, 0.08);

}

#perfil-menu a {
    padding: 12px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--cor-texto-secundaria);
    font-size: 14px;
    transition: background 0.2s ease, color 0.2s ease;
}

#perfil-menu a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--cor-principal);
}

#perfil-menu .logout {
    color: var(--cor-secundaria);
}

#perfil-menu.perfil-visibilidade {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* MAIN */

main {
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-columns: auto 90% auto;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 40px 0;
}
